@inject NavigationManager NavigationManager;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore
@page "/Tickets"

<h1> Tickets </h1>

@if (username == "")
{
    <p>Not logged in. <a href="/login">Log in here</a></p>    
}
else
{
    <p>Logged in as @username. <a href="/logout">Log out here</a></p>
}

@code {
    private BlazorApp.Data.ProgrammerJunior programmerJunior = new();

    TicketContext ticketdatabase = new TicketContext();

    private string username = null;

    protected override async void OnInitialized()
    {
        var result = await ProtectedSessionStore.GetAsync<string>("loggedInAs");

        username = result.Success ? result.Value : "";
        StateHasChanged();
    }
}